.home {
  min-height: 100vh;
  padding: 1.2em 7em;
  padding-top: 100px;
  max-width: 100vw;
  background: var(--first-bg);
}

.homeImg {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  width: 100%;
}

.homeImg img {
  max-width: 623px;
  height: 100%;
  width: 100%;
}

.homeWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.homeContent {
  width: 100%;
  margin-top: 5em;
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.homeTitle {
  font-size: 3em;
  line-height: 1.2em;
  color: var(--first-text);
}

.hG {
  color: var(--primary-color);
}

.homeSubTitle {
  color: var(--second-text);
  max-width: 500px;
}

.homeBtnContainer {
  display: flex;
  gap: 28px;
}

.homeBtnContainer button {
  margin: 0;
  font-size: 18px;
  padding: 16px 28px;
  border-radius: 8px;
}

.homeIdea {
  display: flex;
  gap: 34px;
  width: 100%;
}

.homeIdea div {
  height: 32px;
  display: flex;
  text-wrap: nowrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  gap: 0.8em;
  font-size: 1em;
  color: var(--second-text);
}

.homeIdea div img {
  height: 100%;
  max-height: 36px;
}

.logo {
  margin-top: 73px;
  color: var(--second-text);
  display: flex;
  height: 70px;
  justify-content: space-between;
  gap: 60px;
  max-width: 100%;
  align-items: center;
}

.logo div img {
  cursor: pointer;
  height: 100%;
  width: 100%;
}

.logo span {
  font-size: 1.8em;
  font-weight: 700;
}

.logo p {
  font-size: 1.3em;
  margin-top: -4px;
}

/* ─────────────► Responsive Section Of Home */

@media (max-width: 1200px) {
  .homeWrapper {
    flex-direction: column-reverse;
  }
}

@media (max-width: 790px) {
  .homeIdea {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .homeIdea {
    grid-template-columns: 1fr;
  }
}

/* ─────────────► Services Section */

.services,
.explore {
  padding: 1.2em 7em;
}

.servicesTitle {
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
}

.servicesSubTitle {
  margin: auto;
  max-width: 600px;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  padding-bottom: 30px;
}

.swiper-pagination {
  position: static;
  margin-top: 40px;
}

.primaryBg {
  background: var(--primary-color);
  color: var(--first-bg);
}

.primaryBg:hover {
  color: var(--first-bg);
}

.primaryBg a {
  color: var(--first-bg);
}

.swiper-pagination-bullet {
  height: 10px;
  width: 10px;
}

.swiper-pagination-bullet-active {
  background: var(--primary-color);
  width: 40px;
  height: 10px;
  border-radius: 6px;
}

/* ─────────────► Explore Section */

.exploreSubTitle {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 3px;
}

.exploreContent {
  font-size: 1.3em;
  color: var(--second-text);
  margin-bottom: 20px;
}

.btnContainer {
  margin: 20px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.exploreAll {
  transition: all 0.3s ease;
  background: #f4f4f4;
  border: 1px solid #e2e2e2;
}

.exploreAll:hover {
  color: var(--primary-color);
}

/* ─────────────► Tutors Section */
.tutors {
  margin-top: 20px;
  padding: 1.2em 7em;
  margin-bottom: 20px;
}

.tutors .servicesSubTitle {
  margin: auto;
  padding: 8px;
}
.tutors .exploreContent {
  max-width: 750px;
  margin: auto;
  text-align: center;
}

.tutorsContainer {
  display: grid;
  margin-top: 40px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-items: center;
}
