.reviewCardContainer {
  max-height: 564px;
  width: 100%;
  background-color: #effff2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 70px;
  gap: 10px;
}

.reviewLogo {
  height: 80px;
}

.reviewCardContainer h1 {
  text-align: center;
  font-weight: 500;
  color: var(--first-text);
  margin: 20px;
}

.reviewInfo {
  color: var(--second-text);
}

.pfp {
  height: 64px;
  margin-top: 20px;
}
