.footer {
  color: var(--first-bg);
  width: 100vw;
  background: #101828;
}

.footerWrapper {
  padding: 64px 80px;
}

.contex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footerImage {
  height: 152px;
  max-width: 320px;
}

.footerImage img {
  height: 72px;
  width: 79.83px;
}

.footerImage p {
  font-size: 16px;
  padding-right: 20px;
}

.footerLinks {
  display: flex;
  justify-content: space-between;
}

.footerListGroup {
  max-width: 184px;
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 12px;
  margin: 0px 16px;

  transition: all 0.15s ease;
}

.footerListGroup li {
  width: 184px;
  font-size: 16px;
  cursor: pointer;
  color: #eaecf0;
}

.footerListGroup li:hover {
  opacity: 80%;
  transform: translateY(1px);
  color: var(--primary-color);
}

.footerListGroup span {
  font-size: 14px;
  color: #98a2b3;
}

.complex {
  margin-top: 64px;
  display: flex;
  color: #98a2b3;
  justify-content: space-between;
  align-items: center;
}

.footerSocial {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
  color: #98a2b3;
}

.footerCp {
  font-size: 16px;
  padding-right: 20px;
}

.footerSocial svg:hover {
  color: #eaecf0;
  cursor: pointer;
}

@media (max-width: 1320px) {
  .footerWrapper {
    padding: 30px 40px;
  }

  .footerLinks {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
  }

  .footerListGroup {
    align-items: center;
  }

  .footerListGroup li {
    max-width: 184px;
    text-align: center;
  }
}

@media (max-width: 533px) {
  .footerImage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  .contex {
    flex-direction: column;
  }

  .footerListGroup {
    margin: 0;
  }

  .complex {
    margin-top: 20px;
    flex-direction: column;
    gap: 8px;
  }

  .footerCp {
    padding: 0;
  }
}
